body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
  }
  
  label {
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  input[type="datetime-local"] {
    padding: 8px;
    font-size: 1em;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #299207;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #countdown {
    font-size: 2em;
    margin-top: 20px;
    color: #333;
  }
  